// .slick-track {
//     display: flex !important;
// }

// .slick-slide {
//     height: inherit !important;
// }

.slick-prev {
    left: $spacer;
    z-index: 1;
}

.slick-next {
    right: $spacer;
}

.slick-slider {

    .entry-content {
        max-width: 550px;
    }
}

.hero-slider {

    .slick-slide .wp-block-cover {
        padding-top: 120px;
    }
}

.slick-prev,
.slick-next {
    width: 2rem;
    height: 2rem;

    &:before {
        color: $secondary;
        font-size: 2rem;
    }
}

.slick-product-slider {

    .slick-prev,
    .slick-next {
        top: $spacer;
        transform: none;

        &::before {
            line-height: 1;
        }
    }

    .slick-prev {
        right: calc( #{$spacer*2} + 2rem );
        left: unset;
    }
    .slick-next {
        right: $spacer;
    }

    .slick-slide {

        img {
           height: 500px !important;
           object-fit: contain;
        }
    }
    
}

.slick-dotted.slick-slider {
    margin-bottom: 4rem;
}

.slick-dots {
    bottom: -$spacer*3;
    
    li button {

        &:before {
            font-size: .75rem;
            opacity: .1;
        }
        
    }
}